@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Shadows+Into+Light+Two);

body {
  font: 16px/1.5 'Lato', sans-serif;
  font-weight: 300;
}

strong, b {
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light Two', cursive;
}

p {
  font-weight: 300;
}

.post-body img {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}